@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Source+Code+Pro:wght@500&display=swap');

body {
	background: linear-gradient(225.75deg, #DCDEE0 -10.55%, rgba(196, 196, 196, 0) 106.02%);
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 36px;
	color: #262626;
	overflow: hidden;
}

h1 {
	font-size: 190%;
	/* font-size: 60px; */
	
	margin-top: 0px;
}

.menu-item
{
	font-size: 120%;
	/* font-size: 40px; */
	margin-top: 7%;
	margin-bottom: 7%;
	transition: all 0.5s;
}
.menu-item:hover
{
	transform: translate(5%);
}

.box
{
	border: 2px solid #262626;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.subtitle
{
	/* font-size: 1.3vw; */
	font-size: 50%;
}

.content-card
{
	position: absolute;
	width: 25%;
	height: 100%;
	/* left: 275px; */
	left: 32.5%;
	top: -10%;
	transform: rotate(-5deg);
	background-color: #FF6838;

	padding-top: 15%;
	padding-right: 5%;
	padding-left: 5%;

	transition: all 1s;
}

.content-card:hover
{
}

.horizontal-line
{
	display: "inline-block";
	height: 15px;
	background-color: #262626;
}
